{% extends "base.html" %}
{% load tasks_filters %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Восстановление пароля</h1>

  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    {% for f in form %}
    <div class="mb-4">
      <label for="{{ f.id_for_label }}" class="form-label">
        {{ f.label }}
      </label>
      {{ f|add_class:"form-control fs-3 fw-bold" }}
      {% if f.errors %}
      <div class="text-danger small mb-1">{{ f.errors }}</div>
      {% endif %}
    </div>
    {% endfor %}

    <div class="d-grid">
      <button type="submit" class="btn btn-primary btn-lg fs-3 mt-4">
        Сбросить по E-mail
      </button>
    </div>
  </form>
</div>
{% endblock %}
