{% load static %}
<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm"
  >
    <div class="container">
      <div
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </div>
      <a class="navbar-brand" href="{% url 'tasks:home' %}">
        <img
          src="{% static 'images/logo.png' %}"
          height="50"
          class="d-inline-block align-top"
          alt=""
        />
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-pills">
          {% for m in mainmenu %}
            {% with request.resolver_match.view_name as view_name %}
              <li class="nav-item">
                <a class="nav-link {% if view_name == m.url_name %}active{% endif %}" href="{% url m.url_name %}">
                  {{ m.title }}
                </a>
              </li>
            {% endwith %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
